/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 Nov, 2015, 11:42:11 PM
    Author     : Amit
*/
html{
    overflow: hidden;
    overflow-y: auto;
}
a{
    color:white ;
    text-decoration: none;
    outline: none!important;
}
.carousel{
    overflow: hidden;
}
.carousel-inner{
    overflow: hidden;
}
.LB-font-small{
    color: white ;
    font-size: 12px;
    font-family: Landmark-Basic;
    font-style: normal;
}
.LB-font-medium{
    color: white;
    font-size: 15px;
    font-family: Landmark-Basic;
    font-style: normal;
}
.LB-font-big{
    color: white ;
    font-size: 18px ;
    font-family: Landmark-Basic ;
    font-style: normal ;
}
.LB-font-bigger{
    color: white;
    font-size: 22px;
    font-family: Landmark-Basic;
    font-style: normal;
}
.LB-font{
    color: white;
    font-family: Landmark-Basic;
    font-style: normal;
}
.bg-container{
    background: white;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;

}

* > div{
    overflow-x: hidden;
}
#contentGallery *{
    overflow-x: hidden;
    overflow-y: hidden;
}
#contentGallery{
    margin-left: 293px;
}
.contentGallery-container{
    margin-left: -300px;    
    z-index: 0;
}
@media screen and (min-height:600px){
    .thumbnail-img{
        width: 280px;
        height: 140px;
        margin:8px;
        margin-left: 0;
        margin-right: 8px;
        box-shadow: 1px 2px 17px -2px;
        transition: cubic-bezier(0.4, 0, 1, 1) all 1s 0s;
    }

}
@media screen and (min-height:800px){
    .thumbnail-img{
        width: 280px;
        height: 150px;
        margin:8px;
        margin-left: 0;
        margin-right: 8px;
        box-shadow: 1px 2px 17px -2px;
        transition: cubic-bezier(0.4, 0, 1, 1) all 1s 0s;
    }

}
@media screen and (min-height:1000px){
    .thumbnail-img{
        width: 280px;
        height: 170px;
        margin:8px;
        margin-left: 0;
        margin-right: 8px;
        box-shadow: 1px 2px 17px -2px;
        transition: cubic-bezier(0.4, 0, 1, 1) all 1s 0s;
    }

}
@media screen and (min-height:1200px){
    .thumbnail-img{
        width: 280px;
        height: 180px;
        margin:8px;
        margin-left: 0;
        margin-right: 8px;
        box-shadow: 1px 2px 17px -2px;
        transition: cubic-bezier(0.4, 0, 1, 1) all 1s 0s;
    }

}
@media screen and (min-width : 600px) {
    .landmark-def-nav{
        background-color: black;
        opacity: 0.8;
        width: 94%;
        min-height: 600px !important;
        box-shadow: 4px 0px 6px 1px black;
        z-index: 2;

    }
    #LM-home-slider * img{
        min-height: 600px;
    }

}


@media screen and (min-width : 800px) {
    .landmark-def-nav{
        background-color: black;
        opacity: 0.8;
        width: 94%;
        min-height: 650px !important;
        box-shadow: 4px 0px 6px 1px black;
        z-index: 2;

    }
    #LM-home-slider * img{
        min-height: 800px;
    }

}
@media screen and (min-width : 1000px) {
    .landmark-def-nav{
        background-color: black;
        opacity: 0.8;
        width: 94%;
        min-height: 645px !important;
        box-shadow: 4px 0px 6px 1px black;
        z-index: 2;
    }
    #LM-home-slider * img{
        min-height: 1000px;
    }

}
@media screen and (min-width : 1800px) {
    .landmark-def-nav{
        background-color: black;
        opacity: 0.8;
        width: 94%;
        min-height: 850px !important;
        box-shadow: 4px 0px 6px 1px black;
        z-index: 2;
    }
    #LM-home-slider * img{
        min-height: 1200px;
    }
    .thumbnails{
        width: 302px;
        margin:8px;
        margin-left: 0;
        margin-right: 9px;
        box-shadow: 1px 2px 17px -2px;
        transition: cubic-bezier(0.4, 0, 1, 1) all 1s 0s;
    }
}

.landmark-def-nav .nav a{
    color: white;
}
.landmark-def-nav img{
    width: 100%;
}
.landmark-def-nav nav li:hover * a{
    color: black !important;
    text-decoration: none;
}
.LM-nav-credits{
    text-align: center;
    position: absolute;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 86%;
}
.LM-nav-ccontacts{
    text-align: right;
    position: absolute;
    bottom: 100px;
    width: 86%;
}
.LB-font-golden{
    font-size: 15px;
    font-family: Landmark-Basic;
    font-style: normal;
    color: rgba(237, 191, 49,1);
    text-decoration: none !important;
}
.LB-font-golden :hover{
    color: rgb(255, 135, 8) !important;
}
.landmark-def-dropdown{
    background: rgba(255,255,255,0.6);
    box-shadow: 0px 1px 5px 0px black;
}
.landmark-def-dropdown li a{
    font-size: 22px!important;
    color:black !important;
}

#LM-home-slider{
    position: fixed;
    height: 100%;
    width: 102%;
    z-index: -1;
}
.landmark-floatings{
    background-color: black;
    opacity: 0.8;
    box-shadow: 4px 0px 6px 1px black;
    z-index: 2;
}

.landmark-floatings-from-input{
    width: 100px;
    background: none; 
    margin-left: 2%; 
    border: hidden;
    border-bottom: 1px solid white;
}
#Landmark-map { height: 100%; }
@font-face {
    font-family: Landmark-Basic;
    src: url('/Landmark/fonts/2E9635_0_0.woff');
}
.control-label{
    text-align: left !important;
    font-size: 12px;
}

a.fancybox img {
    height: 100%;
    width: 100%;
    border: none;
    box-shadow: 0 1px 7px rgba(0,0,0,0.6);
    -o-transform: scale(1,1); -ms-transform: scale(1,1); -moz-transform: scale(1,1); -webkit-transform: scale(1,1); transform: scale(1,1); -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;
} 
a.fancybox:hover img {
    position: relative; z-index: 999; -o-transform: scale(1.03,1.03); -ms-transform: scale(1.03,1.03); -moz-transform: scale(1.03,1.03); -webkit-transform: scale(1.03,1.03); transform: scale(1.03,1.03);
}
#fancybox-outer{
    overflow-x:  visible!important;
}